.kcc-button-primary {
  border: 2px solid #0c0206;
  color: #fff;
  border-radius: 50px;
  position: relative;
  min-width: 336px;
  font-size: 40px;
  min-height: 99px;
  cursor: pointer;
  background: linear-gradient(to bottom, #a80410, #560208);
  z-index: 1;
  transition: color 0.5s linear;
}

.kcc-button-primary::before {
  border-radius: 50px;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, #69060b, #370506);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}
.kcc-button-primary:hover::before {
  opacity: 1;
}
.kcc-button-primary:hover {
  color: #a3a6a3;
  transition: color 0.5s linear;
}

.kcc-button-secondary {
  border: 3px solid #a80410;
  color: #a80410;
  border-radius: 50px;
  position: relative;
  min-width: 336px;
  font-size: 40px;
  min-height: 99px;
  cursor: pointer;
  background: transparent;
  z-index: 1;
  transition: color 0.5s linear;
}

.kcc-button-secondary::before {
  border-radius: 50px;
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(to bottom, #a80410, #560208);
  z-index: -1;
  transition: opacity 0.5s linear;
  opacity: 0;
}
.kcc-button-secondary:hover::before {
  opacity: 1;
}
.kcc-button-secondary:hover {
  color: #fff;
  border: none;
  transition: color 0.5s linear;
}

.kcc-button-disabled {
  border: 2px solid #707070;
  color: #fff;
  border-radius: 50px;
  position: relative;
  min-width: 336px;
  font-size: 40px;
  min-height: 99px;
  cursor: not-allowed;
  pointer-events: none;
  background: #707070;
}
