.kcc-loginpage-wrapper {
  width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: 103%;
  background-image: url("../../assets//images/clem-onojeghuo--jD6CM6F4fc-unsplash.jpg");
  background-position-x: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kcc-loginpage-logo {
  width: 900px;
}
