.kcc-noavatar {
  background: #004d76;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #004d76;
  font-size: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.kcc-noavatar > svg > path:last-child {
  fill: #fff;
}

.kcc-avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #020c04;
  cursor: pointer;
}
